<widget id="A6055092576304"  version="0.0.1">
	<name>sxjg</name>
	<description>
	    书行九歌
	</description>
	<author email="qqaxxn@163.com" href="qqaxxn@163.com">
	    qqaxxn@163.com
	</author>
	<content src="index.html" />
	<preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="true"/>
	<preference name="vScrollBarEnabled" value="true"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true"/>
	<preference name="smartUpdate" value="false"/>
	<preference name="debug" value="false"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState"/>
	<permission name="camera"/>
	<permission name="record"/>
	<permission name="location"/>
	<permission name="fileSystem"/>
	<permission name="internet"/>
	<permission name="bootCompleted"/>
	<permission name="hardware"/>
	<access origin="*"/>
	<feature name="wx">
	<param name="urlScheme" value="wxe7acf595440e07cb"/>
	<param name="apiKey" value="wxe7acf595440e07cb"/>
	<param name="apiSecret" value="a4fb032bd3f1b2800630d09937c28104"/>
</feature>
</widget>
